<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tasks</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tasks-container">
    <ion-input placeholder="Enter task" [(ngModel)]="newTask"></ion-input>
    <ion-button (click)="addTask()">Add Task</ion-button>
    <div *ngFor="let task of tasks" class="task-item">
      {{ task }}
    </div>
  </div>
</ion-content> -->
