<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="login">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="tittle">
            <h3>Iniciar sesion</h3>
          </div>
          <div>
            <ion-item>
              <ion-input label="your@email.com" label-placement="floating" fill="outline" name="email" type="email" [(ngModel)]="username"></ion-input>
              <!-- <ion-input class="inputUser no-line" name="email" type="email" placeholder="your@email.com" [(ngModel)]="username"></ion-input> -->
            </ion-item>
            <ion-item>
              <ion-input class="inputUser" name="password" type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
            </ion-item>
          </div>
        
              <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block" (click)="login()">Login</ion-button>
        
          <ion-row>
            <div class="tittle">
              No tienes una cuenta? <a routerLink='/register'>Registrate!</a>
            </div>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>© 2023 Task Sync</ion-title>
  </ion-toolbar>
</ion-footer>